<table class="table table-striped">
  <tr>
    <th><%= tr('Email Template') %></th>
    <th></th>
  </tr>
<% @emails.each do |email| %>
  <tr>
    <td><%=email[:title] %></td>
    <td style="text-align: right">
      <%= link_to(tr('Preview'), "/rails/mailers/user_mailer/#{email[:key]}", target: '_email_preview', class:'btn btn-default') %>
      <%= link_to(tr('Deliver'), {action: :deliver, email: email[:key]}, class:'btn btn-primary') %>
    </td>
  </tr>
<% end %>
</table>